

.second-container {
  padding-top: 160px;
}

.red-colored {
  color: #cc0000;
}

.fetch-area {
  padding: 30px;
}

.img-responsive {
  width: 95%;
  height: auto;
}

.resultArea {
  margin-top: -50px;
}

